/********************************************************************/
/*               CSS ESTILO GENERAL                                 */
/********************************************************************/  
@import url('../template/GUI/plugins/fontawesome-free/css/all.min.css');/*Font Awesome*/
@import url('../template/Ionicons/css/ionicons.min.css');/*Ionicons*/
@import url('../template/GUI/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css');/*Tempusdominus Bootstrap 4*/
@import url('../template/GUI/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css');/*SweetAlert2*/
@import url('../template/GUI/plugins/daterangepicker/daterangepicker.css');/*date-range-picker*/
@import url('../template/GUI/plugins/icheck-bootstrap/icheck-bootstrap.min.css');/*iCheck*/
@import url('../template/GUI/plugins/jqvmap/jqvmap.min.css');/*JQVMap*/
@import url('../template/GUI/dist/css/adminlte.min.css');/*Theme style*/
@import url('../template/GUI/plugins/overlayScrollbars/css/OverlayScrollbars.min.css');/*overlayScrollbars*/
@import url('../template/GUI/plugins/select2/css/select2.min.css');/*Select2*/
@import url('../template/GUI/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css');/*Select2 Bootstrap 4*/
@import url('../template/GUI/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css');/*Duallistbox Bootstrap 4*/
@import url('../template/GUI/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css');/*bootstrap-switch*/
@import url('../template/GUI/plugins/ekko-lightbox/ekko-lightbox.css');/*Ekko Lightbox*/
@import url('../template/GUI/plugins/summernote/summernote-bs4.css');/*summernote*/
@import url('../template/plugins/fileinput/fileinput.min.css');/*file input*/
@import url('fontsgoogleapis.css');/*Google Font: Source Sans Pro*/
/*DataTable.net*/
@import url('../template/DataTable/DataTables/css/jquery.dataTables.min.css');/*jquery*/
@import url('../template/DataTable/Responsive/css/responsive.dataTables.min.css');/*responsive*/
@import url('../template/DataTable/Select/css/select.dataTables.min.css');/*select*/
@import url('../template/DataTable/Checkboxes/css/dataTables.checkboxes.css');/*checkboxes*/
@import url('../template/DataTable/RowGroup/css/rowGroup.dataTables.min.css');/*rowGroup*/

/*** DISEÑO PLANTILLA ***/  
    .content-header{
        padding: 10px .5rem 0.5px !important; 
    } 
    .content-header .container-fluid h1 {
        font-size: 1.5rem !important;
    }  
    .content-wrapper>.content {
        padding: .5rem !important;
    }
    .content{
        background-color: #e2e4e3 !important; 
    } 
/**/

/*TABS*/  

    tab {
        display: inline-block; 
        margin-left: 30px; 
    }
    tr.subgroup,
    tr.subgroup:hover {
        background-color: #F2F2F2 !important;
        /* color: blue; */
        font-weight: bold;
    }
    .group{
            background-color:rgb(143, 180, 229) !important;
            font-size:18px;
            color:#000000!important;
            opacity:0.8;
            font-weight: bold;
    }
    .subgroup{
        cursor: pointer;
    }

    .btn-circle {
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        padding: 0;
        border-radius: 50%;
    }
    .btn-circle-s {
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        padding: 0;
        border-radius: 50%;
    }
    
    .btn-circle i {
        position: relative;
        top: -1px;
    }

    .btn-circle-sm {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 0.9rem;
    }

    .btn-circle-lg {
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 1.1rem;
    }

    .btn-circle-xl {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 1.3rem;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 0px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    td.details-control {
        background: url(../images/details_open.png) no-repeat center center;
        cursor: pointer;
    }
    tr.details td.details-control {
        background: url(../images/details_close.png) no-repeat center center;
    }
/**/

/*DISEÑO SUBIR ARCHIVO*/ 
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 0px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
/**/

/*DISEÑO PLANTILLA*/ 
    .inline {
        display: inline;
    }

    button.nav-link{
        background: none !important;
        border: none !important; 
        overflow: visible !important;
        width: 100% !important;
        text-align: -webkit-match-parent !important;
    }

    button.nav-link:focus {
        outline: none !important;
    }

    button.nav-link:hover {
        background-color: rgba(255,255,255,.1) !important;
    }

    table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
        bottom: 0;
        font-size: 1.2rem;
    }
/**/

/*DISEÑO CONTROLES*/
    /*Radio*/ 
    .clearfix {
        padding: 0.5rem !important;
    }
    .clearfix .icheck-primary {
        padding-left: 10px;
    }
/**/

/*COLORES DE TEXTO*/
    .text-requerido {
        color: #FD0202;
        font-weight:bold;
    }

    .text-rojo {
        color: #FD0202;
    }

    .circulo-rojo {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: red;
        display: table-cell; /*flex*/
        justify-content: center;
        align-items: center;
        text-align: center;
        margin:0px auto;
        padding:1%;
        vertical-align: middle;
    }
    .circulo-rojo > h3 {
        font-family: sans-serif;
        color: white;
        font-size: 1rem;
        font-weight: bold;
    }
    .circulo-verde {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: green;
        display: table-cell; /*flex*/
        justify-content: center;
        align-items: center;
        text-align: center;
        margin:0px auto;
        padding:1%;
        vertical-align: middle;
    }
    .circulo-verde > h3 {
        font-family: sans-serif;
        color: white;
        font-size: 1rem;
        font-weight: bold;
    }
/**/

/*COLORES CRICULOS*/
    .circle-red {
        color: #F44336 !important;
    }
    .circle-green {
        color: #4CAF50 !important;
    }
    .circle-yellow {
        color: #eff31d !important;
    }
    .circle-blue {
        color: #0019f7 !important;
    }
/**/

/*MARCO DE FORMULARIOS CON TITULO*/
    fieldset.scheduler-border{
        border: 2px groove #2DC87B !important;
        padding: 0 0.8em 1.4em 0.8em !important;
        margin: 0 0.8em 1.5em 0.8em !important;
        box-shadow: 0px 0px 0px 0px #000 !important;
    }
    fieldset.scheduler-border-fsc{
        border: 2px groove #2875A7 !important;
        padding: 0 0.8em 1.4em 0.8em !important;
        margin: 0 0.8em 1.5em 0.8em !important;
        box-shadow: 0px 0px 0px 0px #000 !important;
    }
    legend.scheduler-border-fsc{
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
        font-family: Verdana;
    }
    legend.scheduler-border{
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
        font-family: Verdana;
    } 
    .labelcol{
        padding-right: 5px;
        padding-left: 5px;
    }
/**/

/*TAMAÑO DE LAS COLUMNAS EN DATATABLE*/
    .col-xxl{
        min-width: 550px !important;
        /*max-width: 560px !important;*/
    }
    .col-xl{
        min-width: 480px !important;
    }
    .col-l{
        min-width: 400px !important;
    }
    .col-lm{
        min-width: 340px !important;
    }
    .col-m{
        min-width: 280px !important;
    }
    .col-xm{
        min-width: 220px !important;
    }
    .col-sm{
        min-width: 160px !important;
    }
    .col-xsm{
        min-width: 110px !important;
    }
    .col-s{
        min-width: 80px !important;
    }
    .col-xs{
        min-width: 50px !important;
    }
    .col-xxs{
        min-width: 20px !important;
    }
    .col-xxxs{
        min-width: 5px !important;
        max-width: 15px !important;
    }

    .dt-body-right > td  {text-align: right;}
    .dt-body-center > td  {text-align: center;}

    .index {
        vertical-align: inherit !important;
        padding-right: 45px !important;
    }

    .btnadd{
        visibility:visible !important; 
        background-image: linear-gradient(to bottom, #fff 0%, rgb(193, 214, 175) 100%) !important;
        cursor:pointer !important;
    }
    .btnadd:hover{
        background-image: linear-gradient(to bottom, #fff 0%, rgb(255, 255, 255) 100%) !important;
    }

    .btndel{
        visibility:visible !important;
        background-image: linear-gradient(to bottom, #fff 0%, rgba(231, 34, 34, 0.616) 100%) !important;
        cursor:pointer !important;
    }
    .btndel:hover{
        background-image: linear-gradient(to bottom, #fff 0%, rgb(255, 255, 255) 100%) !important;
    }
/**/

/*SOMBREAR FILA DE UNA DATATABLE*/
    table.dataTable tbody tr:hover {
        background-color:#C1DDE7 !important;
    }

    table.dataTable thead {background-color:#CED3E3}

    select.custom-select {
        width: 50% !important;
    }
/**/

/* PAGINACION DATATABLE*/
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 0.05em 0.05em !important;
        margin: 0;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        *cursor: hand;
        color: #333 !important;
        border: 1px solid transparent;
        border-radius: 2px;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        Color: white !important;
        border: 1px solid #111 !important;
        background-color: #585858 !important;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
        background: -webkit-linear-gradient(top, #585858 0%, rgb(36, 36, 36) 100%) !important;
        background: -moz-linear-gradient(top, #585858 0%, rgb(36, 36, 36) 100%) !important;
        background: -ms-linear-gradient(top, #585858 0%, rgb(36, 36, 36) 100%) !important;
        background: -o-linear-gradient(top, #585858 0%, rgb(36, 36, 36) 100%) !important;
        background: linear-gradient(to bottom, #585858 0%, rgb(36, 36, 36) 100%) !important;
    }
    div.dataTables_wrapper div.dataTables_length label {
        font-weight: normal !important;
        text-align: left !important;
        white-space: nowrap !important;
    }
    .dataTables_wrapper .dataTables_filter {
        float: right !important;
        text-align: right !important;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: 0.5em !important;
        display: inline-block !important;
        width: auto !important;
    }
    div.dataTables_wrapper div.dataTables_filter label {
        font-weight: normal !important;
        white-space: nowrap !important;
        text-align: left !important;
    }
/**/

/*FULL MODAL*/
    .fullModal {
        margin: 0 !important;
        margin-right: auto !important;
        margin-left: auto !important;
        width: 100% !important;
      }
      @media (min-width: 576px) {
        .fullModal {
            width: 700px !important;
            max-width: 700px !important;
        }
      }
      @media (min-width: 768px) {
        .fullModal {
            width: 800px !important;
            max-width: 800px !important;
        }
      }
      @media (min-width: 992px) {
        .fullModal {
            width: 1070px !important;
            max-width: 1070px !important;
        }
      }
      @media (min-width: 1200px) {
        .fullModal {
            width: 1220px !important;
            max-width: 1220px !important;
        }
      }
      @media (min-width: 1500px) {
        .fullModal {
            width: 1500px !important;
            max-width: 1500px !important;
        }
    
    }
/**/

/*DROPDOWN MENU*/
    .dropdown-menu {
        min-width: 15rem !important;
    }

    .dropdown-menu > li {
        position: relative !important;
        margin-bottom: 5px !important;
    }
    /*.dropdown-menu {    
        padding: 1px 1px !important;
    }*/
    .dropdown-menu > li > a {
        padding: 8px 15px !important;
        outline: 0 !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        cursor:pointer !important; 
        color:#3c763d !important;
    }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {    
        display: block !important;
        text-decoration: none !important;
        color: black !important;
        background-color: #CCD1D8 !important;
    }
    ul {
        list-style-type: none !important;
    }
    /*//*/
    .dropdown-item:hover{
        border-color: #0067ab;
        background-color: #aca8aaf3 !important;
        cursor: pointer;
    }
/**/

/*TOAST MENSAJES EMERGENTE*/
    body.swal2-toast-shown .swal2-container.swal2-shown {
        background: #28a745;
    }

    .swal2-toast {
        background: #ffffff;
    }

    .swal2-popup.swal2-toast .swal2-icon {
        margin-right: 10px;
    }

    .swal2-popup.swal2-toast.swal2-show {
        padding: 10px;
    }


    .evaluar-estado-proceso-background {
        color: #000;
    }

    .evaluar-estado-aprobado-background {
        background-color: #0af501;
    }

    .evaluar-estado-rechazado-background {
        background-color: #ff0700;
        color: #fff;
    }

    .evaluar-estado-observado-background {
        background-color: #fff200;
        color: #333;
    }

    .evaluar-estado-pendiente-background {
        background-color: #ff6900;
        color: #fff;
    }

    .evaluar-estado-proceso-color, .select2-results__options[id*="cbostatus"] .select2-results__option:nth-child(1) {
        color: white;
    }
    .evaluar-estado-aprobado-color, .select2-results__options[id*="cbostatus"] .select2-results__option:nth-child(2) {
        color: #0af501;
    }
    .evaluar-estado-rechazado-color, .select2-results__options[id*="cbostatus"] .select2-results__option:nth-child(3) {
        color: #ff0700;
    }
    .evaluar-estado-observado-color, .select2-results__options[id*="cbostatus"] .select2-results__option:nth-child(4) {
        color: #fff200;
    }
    .evaluar-estado-pendiente-color, .select2-results__options[id*="cbostatus"] .select2-results__option:nth-child(5) {
        color: #ff6900;
    }

    table.table table.tbl-tramites tr.ar-content-buttons:hover > td div.ar-content-options {
        display: block !important;
    }
/**/

/*SELECT CON BOTO NUEVO*/
    .input-group-button {
        padding: 0 0 0 2px;
        border-color: transparent;
        background: none;
    }
    .input-group-select-button{
        flex-wrap: inherit !important;
    }
/**/

/*AGRUPACION DATATABLE*/
    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
        cursor:pointer !important;
    }
/**/



